@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
}
body {
  background-color: rgb(37, 41, 41);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

ul {
  list-style-type: none;
  border: 3px solid rgb(8, 54, 95);
  border-radius: 10px;
  background-color: rgb(12, 88, 155);
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  line-height: 1.2;
 
}

form {
  margin: 20px;
  background-color: rgb(50, 109, 50);
  padding: 10px;
  border: 3px solid rgb(39, 85, 39);
  border-radius: 10px;
}

.notActive {
  display: none;
}

.forms {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.button {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(3, 111, 3);
  color: white;
}

.get-FEC {
  text-decoration: none;
  border: 2px solid rgb(50, 109, 50);
  background-color: rgb(39, 85, 39);
  border-radius: 12px;
  padding: 5px;
  color: white;
}

a {
  text-decoration: none;
  color:rgb(255, 255, 255)
}

.text-input {
  border-radius: 8px;
}

li {
  list-style-type: none;
  line-height: 2;
}

.REP {
  background-color: rgb(194, 33, 33);
  border: 2px solid rgb(177, 8, 8);
}

.DEM {
  background-color: rgb(12, 88, 155);
  border: 3px solid rgb(8, 54, 95);
}


@media only screen and (min-width: 1024px) {
  div {
    margin-left: 80px;
    margin-right: 80px;
  }
}