@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
}
body {
  background-color: rgb(37, 41, 41);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  margin: 20px;
}

ul {
  list-style-type: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(50, 109, 50);
  border: 1.5px solid rgb(39, 85, 39);
  text-align: center;
  padding: 5px 0px;
  word-wrap: break-word;
  line-height: 1.5;
}
li{
  line-height: 1.5;
}
form {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height:1.5;
}

.notActive {
  display: none;
}

.button {
  width: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(3, 111, 3);
  color: white;
  margin-top: 8px;
}

.get-FEC {
  text-decoration: none;
  border: 2px solid rgb(48, 48, 48);
  background-color: rgb(23, 22, 22);
  border-radius: 12px;
  padding: 2px 8px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(143, 143, 143)
}

.text-input {
  border-radius: 10px;
}

.REP {
  background-color: rgb(194, 33, 33);
  border: 2px solid rgb(177, 8, 8);
}

.DEM {
  background-color: rgb(12, 88, 155);
  border: 3px solid rgb(8, 54, 95);
}
/*
@media only screen and (min-width: 768px) {
  .App {
    margin-left: 60px;
    margin-right: 60px;
  }
  .spend-list {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    margin-left: 80px;
    margin-right: 80px;
  }
} */
